{% macro render_field(field) -%}
    {% if field.type == 'CSRFTokenField' %}
        {{ field }}

        {% if field.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
    {% elif field.type == 'HiddenField' %}
        {{ field }}
    {% elif field.type == 'SubmitField' %}
        {{ field(class_="btn btn-primary") }}
    {% elif field.type == 'BooleanField' %}
        <div class="form-check">
          {{ field(class_="form-check-input") }}
          {{ field.label(class_="form-check-label") }}
        </div>
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                {% for err in field.errors %}
                    <p>{{ err|e }}</p>
                {% endfor %}
                </div>
            {% endif %}
    {% else %}
        <div class="form-group row">
            {{ field.label }}
            {{ field(class_="form-control") }}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                {% for err in field.errors %}
                    <p>{{ err|e }}</p>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{%- endmacro %}